.posts {
  /* background: yellow;*/
  width: 470px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 200px;
}
.statuspost {
  display: flex;
  width: $post_width;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  flex-direction: column;
}
.item-1 {
  width: $post_width;
  height: 30px;
  background: #f6f7f9;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.makepost {
  border-right: 1px solid #dddfe2;
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer; 
}
.fa-pencil-alt  {
  margin-left: 7px;
}

.makepost span {
  font-family: Arial;
  font-size: 13px;
  margin-left: 7px;
  font-weight: bold;
  color: $color_text_blue;
}
.album {
  border-right: 1px solid #dddfe2;
  width: 160px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer; 
}
.album span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  margin-left: 7px;
  color: $color_text_blue;
}
.fa-address-card {
  margin-left: 7px;
}
.video {
  width: 150px;
  height: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer; 
}
.video span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: $color_text_blue;
  margin-left: 7px;
}
.fa-video {
  margin-left: 5px;
}
.item-2 {
  width: $post_width;
  height: 70px;
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  align-items: center;
}
.postphoto {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.on-your-mind-placeholder {
  margin-left: 10px;
  position: relative;
  display: flex;
}
textarea {
  font-family: Arial;
  color: gray;
  cursor: text;
  border: none;
  font-size: 24px;
  align-items: center;
  margin: 10px;
  resize: none;
}
.postphotodancer {
  border-radius: 50%;
  border: 1px solid #dddfe2;
  cursor: pointer;
  }
.item-3 {
  width: $post_width;
  height: 45px; 
  display: flex;
  align-items: center;
}
.photovideo {
  border-radius: 18px;
  background: #f6f7f9;
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.photovideo:hover {
  cursor: pointer;
  background-color: #e9ebee;
}
.photovideo span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: $color_text_blue;
  margin-left: 10px;
}
.fa-image {
  margin-left: 16px;
}
.feeling {
  border-radius: 18px;
  background: #f6f7f9;
  width: 160px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.feeling:hover {
  cursor: pointer;
  background-color: #e9ebee;
}
.feeling span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: $color_text_blue;
  margin-left: 10px;
}
.fa-smile {
  margin-left: 15px;
}
.dots {
  border-radius: 18px;
  background: #f6f7f9;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.dots:hover {
  cursor: pointer;
  background-color: #e9ebee;
}
.fa-ellipsis-h {
  margin-left: 16px;
}
.whats-on-your-mind-post-button {
  border-radius: 18px;
  border: none;
  background: #f6f7f9;
  text-decoration: none;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: $color_text_blue;
  justify-content: center;
}
.post-1 {
  width: 430px;
  height: 366.4px;
  margin-left: 10px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-bottom: 0px;
}
.postgeneraltext-1 {
  width: 430px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.posttext-1 {
  display: flex;
  align-items: center;
  width: 430px;
  height: 55px;
}
.postphoto-1 {
  width: 50px;
  height: 46px;
  display: flex;
  align-items: center;
}
.laruga-1 {
  border-radius: 50%;
  border: 1px solid #dddfe2;
  cursor: pointer;
}
.postdiv-1 {
  width: 150px;
  height: 46px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}
.post-name-1 span {
  color: $color_text_blue;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}
.post-name-1:hover {
  text-decoration: underline;
  text-decoration-color: $color_text_blue;
  text-decoration-style: solid; 
  cursor: pointer;
}
.date-post1 span {
  color: #8d949e;
  font-family: Arial;
  font-size: 12px;
}
.date-post1:hover {
  text-decoration: underline;
  text-decoration-color: #8d949e;
  text-decoration-style: solid; 
  cursor: pointer;
}
.postimage-1 {
  width: 450px;
  height: 231.4px; 
  border: solid #dddfe2;
  border-width: 1px 0px 1px 0px;
  left: -10px;
  position: relative;
}
.postgeneraltext-1 > .fa-ellipsis-h {
  cursor: pointer;
}
.reactions {
  display: flex;
  width: 430px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.reactions-space {
  width: 430px;
  height: 40px;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  align-items: center;
}
.reactions-icons {
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.like, .love, .haha{
  background: #fff;
  border-radius: 10px;
  margin: 0 0 0 -4px;
  padding: 2px;
  position: relative;
}
.love {
  z-index: 4;
}
.like {
  z-index: 5;
}
.reactions span {
  color: #777d88;
  font-family: Arial;
  font-size: 12px;
}
.lcs {
  width: 430px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dolike, .docomment, .doshare {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lcs span {
  color: #616770;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}
article {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  width: 430px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0px;
}
button {
  border-radius: 18px;
  border: none;
  background: #f6f7f9;
  text-decoration: none;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: $color_text_blue;
  justify-content: center;
}
:focus {
  outline: none;
}
author {
  color: $color_text_blue;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}
p {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
}
.postphotodancer-general {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 46px;
}
.post1-photonamedate {
  width: 330px;
  height: 50px;
  display: flex;
  align-items: center;
}
.post1-imagetext {
  width: 430px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postdiv1 {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  justify-content: center;
}
.myPosts {
  width: $post_width;
  height: 100%; 
}