.sidebar {
  /* background: yellow; */
  width: 180px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
}
.sidename {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 50px;
  }
.sidenamephoto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 30px;
    cursor: pointer;
}
.sidenamephoto:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
}
.sidename span {
    justify-content: space-between;
    font-family: Arial;
    font-size: 13px; 
    margin-left: 5px;
    display: flex;
  }
.sidenamephoto > .dancer {
  margin-left: 5px;
}
.sidenewsfeed {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px;
    height: 30px;
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;
  }
  .sidenewsfeedphoto span {
    justify-content: center;
    font-family: Arial;
    font-size: 13px;
    margin-left: 10px;
    display: flex;
    font-weight: bold;
  }
.sidenewsfeedphoto .fa-file-alt {
   margin-left: 2px;
  }
  .sidemessengerphoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 8px;
    display: flex;
  }
  .sidemessenger:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;    
}
  .sidemarketplacephoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 6px;
  }
.sidemarketplace:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;    
}
  .sideshortcuts {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 30px;
  }
  .sideshortcuts span {
    display: flex;
    align-items: flex-end;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #616770;
    margin-left: 5px;
  }
  .sidemccannphoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 10px;
  }
  .fa-lightbulb {
    margin-left: 2px;
  }
  .sidemccann:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;    
  }
  .sideexplore {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 30px;
  }
  .sideexplore span {
    display: flex;
    align-items: flex-end;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #616770;
    margin-left: 5px;
  }
  .sideevents:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;    
  }
  .sideeventsphoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 10px;
  }
  .fa-calendar {
    margin-left: 3px;
  }
  .sidegrpous:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;    
  }
  .sidegroupsphoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 3px;
  }
  .fa-users {
    margin-left: 5px;
  }
  .sidepages:hover {
    background: #f6f7f9;
    border: 1px solid #dddfe2;
    cursor: pointer;    
  }
  .sidepagesphoto span {
    font-family: Arial;
    font-size: 13px; 
    justify-content: center;
    margin-left: 10px;
  }
  .fa-font-awesome-alt {
    margin-left: 2px;
  }
.sidefriendlists:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;    
}
.sidefriendlistsphoto span {
  font-family: Arial;
  font-size: 13px; 
  justify-content: center;
  margin-left: 10px;
}
.fa-user-circle {
    margin-left: 2px;
  }
.sideonthisday:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;    
}
.sideonthisdayphoto span {
  font-family: Arial;
  font-size: 13px; 
  justify-content: center;
  margin-left: 8px;
  }
.fa-clock {
    margin-left: 2px;
  }
.sidepagesfeed:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;    
}
.sidepagesfeedphoto span {
  font-family: Arial;
  font-size: 13px; 
  justify-content: center;
  margin-left: 10px;
  }
.sidepagesfeedphoto .fa-file-alt {
    margin-left: 4px;
  }
.sidemanageapps:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;    
}
.sidemanageappsphoto span {
  font-family: Arial;
  font-size: 13px; 
  justify-content: center;
  margin-left: 8px;
  }
  .fa-wrench {
    margin-left: 2px;
  }
  .sidemessenger, .sidemarketplace, .sidemccann, .sideevents, .sidegrpous, .sidepages, .sidefriendlists, .sideonthisday, .sidepagesfeed, .sidemanageapps {
    @include side()
}
.sidenewsfeedphoto, .sidemessengerphoto, .sidemarketplacephoto, .sidemccannphoto, .sideeventsphoto, .sidegrpousphoto, .sidepagesphoto, .sidefriendlistsphoto, .sideonthisdayphoto, .sidepagesfeedphoto, .sidemanageappsphoto {
   @include side_photo()
  }