/* line 1, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.container {
  position: relative;
  top: 40px;
  height: 100%;
  width: 100%;
  background: #E9EBED;
}

/* line 8, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.fbpage {
  background: #E9EBED;
  width: 960px;
  height: 100%;
  display: flex;
  margin: auto;
  position: relative;
}

/* line 17, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.header {
  height: 40px;
  width: 100%;
  background: #4267b2;
  position: fixed;
  z-index: 10;
}

/* line 24, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.headerLeft {
  width: 480px;
  height: 40px;
  left: 200px;
  display: flex;
  align-items: center;
  position: absolute;
}

/* line 32, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.header-fblogo {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* line 40, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.facebookLogo {
  border-radius: 3px;
}

/* line 43, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.search {
  width: 450px;
  display: flex;
  align-items: center;
  margin-left: 7px;
}

/* line 49, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.search1 {
  border: none;
  border-radius: 3px 0px 0px 3px;
  width: 400px;
  height: 22px;
  cursor: text;
}

/* line 56, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
::placeholder {
  color: gray;
  font-size: 0.8em;
  text-indent: 9px;
  font-family: Arial;
}

/* line 62, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.search2 {
  height: 24px;
  background: #e0e0eb;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
}

/* line 72, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.headerRight {
  width: 370px;
  height: 40px;
  margin-left: 796px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 80, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.dancer {
  border-radius: 50%;
  border: 1px solid #dddfe2;
}

/* line 84, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.myPhoto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

/* line 90, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.myPhoto:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 93, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.myPhoto span {
  font-family: Arial;
  font-weight: bold;
  color: white;
  font-size: 13px;
  margin-left: -10px;
}

/* line 100, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.name {
  border-right: 1px solid #10295e;
  width: 80px;
}

/* line 104, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.home {
  border-right: 1px solid #10295e;
  width: 60px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* line 112, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.home span {
  font-family: Arial;
  font-weight: bold;
  color: white;
  font-size: 13px;
  padding: px;
}

/* line 119, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.home:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* line 122, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.icons {
  width: 120px;
  border-right: 1px solid #10295e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 24px;
  margin-left: 4px;
  padding-right: 8px;
  cursor: pointer;
}

/* line 134, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.fa-globe {
  margin-right: -8px;
  margin-top: 4px;
}

/* line 138, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.fa-user-friends {
  margin-top: 4px;
}

/* line 141, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.icons .fa-facebook-messenger {
  margin-top: 4px;
}

/* line 144, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.help {
  width: 80px;
  cursor: pointer;
}

/* line 148, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.help1 {
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* line 154, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_generalheader.scss */
.fa-sort-down {
  margin-bottom: 8px;
  margin-left: -20px;
}

/* line 1, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidebar {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 40px;
  left: 200px;
}

/* line 12, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidename {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 50px;
}

/* line 19, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenamephoto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 30px;
  cursor: pointer;
}

/* line 27, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenamephoto:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
}

/* line 31, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidename span {
  justify-content: space-between;
  font-family: Arial;
  font-size: 13px;
  margin-left: 5px;
  display: flex;
}

/* line 38, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenamephoto > .dancer {
  margin-left: 5px;
}

/* line 41, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenewsfeed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 30px;
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 51, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenewsfeedphoto span {
  justify-content: center;
  font-family: Arial;
  font-size: 13px;
  margin-left: 10px;
  display: flex;
  font-weight: bold;
}

/* line 59, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenewsfeedphoto .fa-file-alt {
  margin-left: 2px;
}

/* line 62, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemessengerphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 8px;
  display: flex;
}

/* line 69, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemessenger:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 74, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemarketplacephoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 6px;
}

/* line 80, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemarketplace:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 85, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideshortcuts {
  display: flex;
  justify-content: flex-start;
  width: 150px;
  height: 30px;
}

/* line 91, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideshortcuts span {
  display: flex;
  align-items: flex-end;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #616770;
  margin-left: 5px;
}

/* line 100, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemccannphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 10px;
}

/* line 106, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-lightbulb {
  margin-left: 2px;
}

/* line 109, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemccann:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 114, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideexplore {
  display: flex;
  justify-content: flex-start;
  width: 150px;
  height: 30px;
}

/* line 120, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideexplore span {
  display: flex;
  align-items: flex-end;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #616770;
  margin-left: 5px;
}

/* line 129, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideevents:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 134, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideeventsphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 10px;
}

/* line 140, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-calendar {
  margin-left: 3px;
}

/* line 143, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidegrpous:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 148, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidegroupsphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 3px;
}

/* line 154, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-users {
  margin-left: 5px;
}

/* line 157, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidepages:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 162, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidepagesphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 10px;
}

/* line 168, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-font-awesome-alt {
  margin-left: 2px;
}

/* line 171, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidefriendlists:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 176, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidefriendlistsphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 10px;
}

/* line 182, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-user-circle {
  margin-left: 2px;
}

/* line 185, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideonthisday:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 190, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sideonthisdayphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 8px;
}

/* line 196, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-clock {
  margin-left: 2px;
}

/* line 199, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidepagesfeed:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 204, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidepagesfeedphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 10px;
}

/* line 210, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidepagesfeedphoto .fa-file-alt {
  margin-left: 4px;
}

/* line 213, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemanageapps:hover {
  background: #f6f7f9;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 218, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemanageappsphoto span {
  font-family: Arial;
  font-size: 13px;
  justify-content: center;
  margin-left: 8px;
}

/* line 224, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.fa-wrench {
  margin-left: 2px;
}

/* line 227, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidemessenger, .sidemarketplace, .sidemccann, .sideevents, .sidegrpous, .sidepages, .sidefriendlists, .sideonthisday, .sidepagesfeed, .sidemanageapps {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 30px;
}

/* line 230, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_sidebar.scss */
.sidenewsfeedphoto, .sidemessengerphoto, .sidemarketplacephoto, .sidemccannphoto, .sideeventsphoto, .sidegrpousphoto, .sidepagesphoto, .sidefriendlistsphoto, .sideonthisdayphoto, .sidepagesfeedphoto, .sidemanageappsphoto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 140px;
  height: 25px;
  margin-left: 3px;
}

/* line 1, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.posts {
  /* background: yellow;*/
  width: 470px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 200px;
}

/* line 10, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.statuspost {
  display: flex;
  width: 450px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  flex-direction: column;
}

/* line 21, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.item-1 {
  width: 450px;
  height: 30px;
  background: #f6f7f9;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

/* line 29, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.makepost {
  border-right: 1px solid #dddfe2;
  width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 37, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.fa-pencil-alt {
  margin-left: 7px;
}

/* line 41, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.makepost span {
  font-family: Arial;
  font-size: 13px;
  margin-left: 7px;
  font-weight: bold;
  color: #365899;
}

/* line 48, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.album {
  border-right: 1px solid #dddfe2;
  width: 160px;
  height: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 56, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.album span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  margin-left: 7px;
  color: #365899;
}

/* line 63, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.fa-address-card {
  margin-left: 7px;
}

/* line 66, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.video {
  width: 150px;
  height: 20px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 74, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.video span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #365899;
  margin-left: 7px;
}

/* line 81, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.fa-video {
  margin-left: 5px;
}

/* line 84, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.item-2 {
  width: 450px;
  height: 70px;
  border-top: 1px solid #dddfe2;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  align-items: center;
}

/* line 92, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postphoto {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* line 97, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.on-your-mind-placeholder {
  margin-left: 10px;
  position: relative;
  display: flex;
}

/* line 102, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
textarea {
  font-family: Arial;
  color: gray;
  cursor: text;
  border: none;
  font-size: 24px;
  align-items: center;
  margin: 10px;
  resize: none;
}

/* line 112, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postphotodancer {
  border-radius: 50%;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 117, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.item-3 {
  width: 450px;
  height: 45px;
  display: flex;
  align-items: center;
}

/* line 123, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.photovideo {
  border-radius: 18px;
  background: #f6f7f9;
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* line 132, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.photovideo:hover {
  cursor: pointer;
  background-color: #e9ebee;
}

/* line 136, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.photovideo span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #365899;
  margin-left: 10px;
}

/* line 143, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.fa-image {
  margin-left: 16px;
}

/* line 146, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.feeling {
  border-radius: 18px;
  background: #f6f7f9;
  width: 160px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* line 155, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.feeling:hover {
  cursor: pointer;
  background-color: #e9ebee;
}

/* line 159, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.feeling span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #365899;
  margin-left: 10px;
}

/* line 166, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.fa-smile {
  margin-left: 15px;
}

/* line 169, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.dots {
  border-radius: 18px;
  background: #f6f7f9;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

/* line 178, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.dots:hover {
  cursor: pointer;
  background-color: #e9ebee;
}

/* line 182, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.fa-ellipsis-h {
  margin-left: 16px;
}

/* line 185, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.whats-on-your-mind-post-button {
  border-radius: 18px;
  border: none;
  background: #f6f7f9;
  text-decoration: none;
  width: 50px;
  height: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #365899;
  justify-content: center;
}

/* line 201, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.post-1 {
  width: 430px;
  height: 366.4px;
  margin-left: 10px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-bottom: 0px;
}

/* line 215, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postgeneraltext-1 {
  width: 430px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 222, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.posttext-1 {
  display: flex;
  align-items: center;
  width: 430px;
  height: 55px;
}

/* line 228, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postphoto-1 {
  width: 50px;
  height: 46px;
  display: flex;
  align-items: center;
}

/* line 234, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.laruga-1 {
  border-radius: 50%;
  border: 1px solid #dddfe2;
  cursor: pointer;
}

/* line 239, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postdiv-1 {
  width: 150px;
  height: 46px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

/* line 247, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.post-name-1 span {
  color: #365899;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

/* line 253, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.post-name-1:hover {
  text-decoration: underline;
  text-decoration-color: #365899;
  text-decoration-style: solid;
  cursor: pointer;
}

/* line 259, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.date-post1 span {
  color: #8d949e;
  font-family: Arial;
  font-size: 12px;
}

/* line 264, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.date-post1:hover {
  text-decoration: underline;
  text-decoration-color: #8d949e;
  text-decoration-style: solid;
  cursor: pointer;
}

/* line 270, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postimage-1 {
  width: 450px;
  height: 231.4px;
  border: solid #dddfe2;
  border-width: 1px 0px 1px 0px;
  left: -10px;
  position: relative;
}

/* line 278, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postgeneraltext-1 > .fa-ellipsis-h {
  cursor: pointer;
}

/* line 281, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.reactions {
  display: flex;
  width: 430px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

/* line 288, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.reactions-space {
  width: 430px;
  height: 40px;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  align-items: center;
}

/* line 295, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.reactions-icons {
  width: 60px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 302, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.like, .love, .haha {
  background: #fff;
  border-radius: 10px;
  margin: 0 0 0 -4px;
  padding: 2px;
  position: relative;
}

/* line 309, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.love {
  z-index: 4;
}

/* line 312, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.like {
  z-index: 5;
}

/* line 315, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.reactions span {
  color: #777d88;
  font-family: Arial;
  font-size: 12px;
}

/* line 320, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.lcs {
  width: 430px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 327, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.dolike, .docomment, .doshare {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 334, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.lcs span {
  color: #616770;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

/* line 340, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
article {
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  width: 430px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0px;
}

/* line 353, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
button {
  border-radius: 18px;
  border: none;
  background: #f6f7f9;
  text-decoration: none;
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #365899;
  justify-content: center;
}

/* line 368, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
:focus {
  outline: none;
}

/* line 371, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
author {
  color: #365899;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

/* line 377, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
p {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
}

/* line 383, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postphotodancer-general {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 46px;
}

/* line 390, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.post1-photonamedate {
  width: 330px;
  height: 50px;
  display: flex;
  align-items: center;
}

/* line 396, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.post1-imagetext {
  width: 430px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 403, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.postdiv1 {
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  justify-content: center;
}

/* line 411, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_posts.scss */
.myPosts {
  width: 450px;
  height: 100%;
}

/* line 1, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.eventcolumn {
  /* background: green; */
  width: 284px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 40px;
  right: 200px;
}

/* line 12, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.stories {
  width: 274px;
  height: 180px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 23, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.storiesheader > .fa-ellipsis-h {
  cursor: pointer;
}

/* line 26, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.storiesheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 40px;
  /* background: yellow; */
}

/* line 34, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.storiesheader span {
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  color: #365899;
}

/* line 40, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.story-1 {
  display: flex;
  align-items: center;
  width: 250px;
  height: 70px;
  /*  background: cadetblue; */
}

/* line 47, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.gili-story-1 {
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid #bec3c9; */
}

/* line 52, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.text-story-1 {
  width: 150px;
  height: 46px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

/* line 60, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.text-story-1 span {
  color: #365899;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

/* line 66, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.name-story-1 span:hover {
  text-decoration: underline;
  text-decoration-color: #365899;
}

/* line 70, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.time-story-1 span {
  color: #8d949e;
  font-family: Arial;
  font-size: 12px;
}

/* line 75, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.border-photo-story-1 {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: rgba(29, 33, 41, 0.08);
  border: 2px solid #3578e5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* line 86, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.story-2 {
  display: flex;
  align-items: center;
  width: 250px;
  height: 70px;
  /* background: yellow; */
}

/* line 93, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.shahaf-story-2 {
  border-radius: 50%;
  cursor: pointer;
  /* border: 2px solid #bec3c9; */
}

/* line 98, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.text-story-2 {
  width: 150px;
  height: 46px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
}

/* line 106, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.text-story-2 span {
  color: #365899;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

/* line 112, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.name-story-2 span:hover {
  text-decoration: underline;
  text-decoration-color: #365899;
}

/* line 116, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.time-story-2 span {
  color: #8d949e;
  font-family: Arial;
  font-size: 12px;
}

/* line 121, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.border-photo-story-2 {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: rgba(29, 33, 41, 0.08);
  border: 2px solid #3578e5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* line 132, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.events {
  width: 274px;
  height: 50px;
  background: blue;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
}

/* line 141, C:/Users/oferg/FED/Facebook_Project/Facebook_Ofer/Facebook_Grid/scss/_eventcolumn.scss */
.language {
  width: 274px;
  height: 80px;
  background: blue;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 5px;
}

/*# sourceMappingURL=../css/styles.map */